{% extends "layout.html" %}

{% block head %} 
<title>Home</title>
{% endblock %}



{% block body %}
<div class="home-section-one">
    <div class="home-section-one-message">
        <p>1 week free trial</p>
        <h1>Advert<span class="bro">X</span></h1>
        <h2> The best <br> platform to <br> advertise your <br> business</h2>
        <div class="home-section-one-message-buttons">
            <a class="home-section-one-message-buttons-first" href="/about">About us</a>
            <a class="home-section-one-message-buttons-second" href="/signup">Subscribe with us</a>
        </div>
    </div>
    <div class="home-section-one-images">
        <img src="../static/image/fill.jpg" alt="All photo">
    </div>
    
</div>
<div class="home-section-two">
    <div class="home-section-two-message">
        <h1>Get started with<br>Advert<span>X</span> today</h1>
        <p>AdvertX advertisement website is the perfect platform <br> for showcasing your business</p>
        <div class="lie">
            <a class="home-section-two-message-button" href="/signup">Sign up now</a>
        </div>
    </div>
    <div class="home-section-two-message-image">
        <img src="../static/image/accesories.jpeg" alt="accesories">
    </div>
</div>
<div class="testimonial">
    <div class="testimonial-header">
        <h1>Testimonial</h1>
        <p id="jo">People love what we do and we what to let you know</p>
        <div class="testimonial-examples">
            <div class="first-testimonial">
                <p>"This website is so cool <br> and create so much value <br> no freaking regrates "</p>
                <img src="../static/image/stars.png" alt="rating">
                <h4>Sendi Damun</h4>
            </div>
            <div class="second-testimonial">
                <p>"bro!!! check this site out <br> made alot of doe after <br> after the advert"</p>
                <img src="../static/image/stars.png" alt="rating">
                <h4>Minstrel Nwachukwu</h4>
            </div>
            <div class="third-testimonial">
                <p>"Woah!!!!! more of this <br> carry the hell on!"</p>
                <img src="../static/image/stars.png" alt="rating">
                <h4>Hope Habu</h4>
            </div>
        </div>
    </div>
</div>

















<!---------- footer ------->
<div class="footer-container">
    <footer class="footer">
        <div class="first-message">
            <h1>Advert<span>X</span></h1>
            <p>2022 &copy; AdvertX all <br>rights reserved</p>
        </div>
        <div class="second-message">
            <ul>
                <li>
                    <a href="/home">Home</a>
                </li>
                <li>
                    <a href="https://www.facebook.com">facebook</i></a>
                </li>
                <li>
                    <a href="/services">Services</a>
                </li>
                <li>
                    <a href="https://www.instagram.com">instagram</a>
                </li>

                <li>
                    <a href="/about">About Us</a>
                </li>
                <li><a href="https://www.twitter.com">twitter</a></li>
                <li>
                    <a href="/contact" >Contact us</a>
                </li>
                <li>
                    <a href="https://www.linkedin">linkidin</a>
                </li>
            </ul>
        </div>
        <div class="third-message">
            <ul>
                <li>Privacy Policy</li>
                <li>Terms Of Service</li>
            </ul>
        </div>
    </footer>
</div> 
{% endblock %} 