{% extends "layout.html" %}

{% block head %} 
<title>Services</title>
{% endblock %}



{% block body %}
<body id="body">
<div class="header1">
    <div class="ad">
        <div class="section_one">
            <img class="img" src="../static/image/top1.jpeg" alt="">
            <h5>We provide world wide</h5>
            <h2>Advertisement <span>Services</span></h2>
            <h4>For start-up and large business</h4>
            <a href="/contact">Get in touch</a>
        </div>
        <div class="section_one_images">
            <img src="../static/image/new2.jpg" alt="">
        </div>
    </div>

    <div class="reach" >
        <div class="countries">
            <h2>55%</h2>
            <p>countries reached</p>
        </div>
        <div class="people_reached">
            <h2>2150+</h2>
            <p>people reached</p>
        </div>
        <div class="discount">
            <h2>10%</h2>
            <p>Discount available</p>
        </div>
        <div class="all_round">
            <h2>24/7</h2>
            <p>advertisement</p>
        </div>
    </div>
</div>
</body>
<!---------- footer ------->
 <div class="footer-container">
        <footer class="footer">
            <div class="first-message">
                <h1>Advert<span>X</span></h1>
                <p>2022 &copy; AdvertX all <br>rights reserved</p>
            </div>
            <div class="second-message">
                <ul>
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com">facebook</i></a>
                    </li>
                    <li>
                        <a href="/services">Services</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com">instagram</a>
                    </li>

                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li><a href="https://www.twitter.com">twitter</a></li>
                    <li>
                        <a href="/contact" >Contact us</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin">linkidin</a>
                    </li>
                </ul>
            </div>
            <div class="third-message">
                <ul>
                    <li>Privacy Policy</li>
                    <li>Terms Of Service</li>
                </ul>
            </div>
        </footer>
    </div> 
{% endblock %} 